*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.m-b {
  margin-bottom: 1rem;
}

body {
  font-size: 62.5%;
  font-family: 'MuseoModerno', cursive;
  background: rgba(236, 236, 236, 0.822);
}

.showcase {
  width: 100%;
  padding: 6rem;
}

@media screen and (max-width: 900px) {
  .showcase {
    padding: 1rem;
  }
}

.heading-primary {
  font-family: 'Press Start 2P', cursive;
  line-height: 30px;
  font-size: .8rem;
}

.heading-tertiary {
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  font-size: .4rem;
}

.heading-tertiary-right {
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  .heading-tertiary-right {
    font-size: 1.2rem;
  }
}

.form {
  display: flex;
  border-radius: 20px 50px 50px;
}

@media screen and (max-width: 900px) {
  .form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}

.form .button {
  margin-top: 1rem;
}

.form .button .btn {
  color: #000000ce;
  border: 2px solid #f8f8f8;
  border-top: none;
  border-radius: 3rem  3rem;
  cursor: pointer;
  font-family: inherit;
  box-shadow: -3px 4px 11px 0px #8d9292af;
  transition: 1.2s all;
}

.form .button .hbtn {
  font-family: 'Press Start 2P', cursive;
  font-size: .5rem;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 2px solid black;
  text-decoration: none;
  color: #131212;
  white-space: nowrap;
  z-index: 0;
}

.form .button .hbtn i {
  padding-right: 8px;
}

.form .button .hb-border-bottom-br4 {
  position: relative;
  transition-duration: 0.3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.form .button .hb-border-bottom-br4::after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border: 5px solid #0d92aa;
  z-index: 2;
  margin: 0px;
  left: 0px;
  bottom: 0px;
  border-top-width: 2px;
  border-radius: 3rem;
  transition: border-top-width 0.1s ease 0.2s,  height 0.2s ease 0.1s, width 0.2s ease 0s,  margin 0.2s ease 0s, border-bottom-width 0.2s ease 0s;
}

.form .button .hb-border-bottom-br4:hover::after {
  width: 60%;
  height: 0px;
  border-width: 0px 2px 4px;
  margin: 0px 20%;
  transition: border-top-width 0.1s ease 0s,  height 0.2s ease 0.1s,  width 0.2s ease 0.2s, margin 0.2s ease 0.2s, border-bottom-width 0.2s ease 0.2s;
}

.form__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
  background: #62e9d2;
  background: linear-gradient(to right, #62e9d2, #2BC0E4);
  border-radius: 20px 0 0 50px;
  box-shadow: -3px 4px 11px 0px #18ececaf;
}

@media screen and (max-width: 900px) {
  .form__left {
    border-radius: 0;
  }
}

.form__left form {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.form__left form input {
  display: table-cell;
  width: 70%;
  padding: .5rem;
  border: none;
  border-radius: 2rem;
  box-shadow: -3px 4px 11px 0px #70c9c9af;
  border-bottom: 4px solid white;
  transition: .9s;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  font-size: .7rem;
  text-align: center;
}

.form__left form input:checked, .form__left form input:focus {
  outline: none;
  border-bottom: 4px solid chartreuse;
}

.form__left form input:focus:invalid {
  border-bottom: 4px solid red;
}

.form__left form h1, .form__left form h2, .form__left form label {
  padding: 1rem;
}

.form__left form label {
  font-size: .8rem;
}

.form__left .industry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  font-size: .5rem;
  font-weight: bold;
}

.form__left .industry__logo {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 0 0 0;
}

@media screen and (max-width: 900px) {
  .form__left .industry__logo {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.form__right {
  background: #a1a099;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #bdbcb8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 50px;
  box-shadow: 2px 5px 8px 0px #bdbcb8;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .form__right {
    border-radius: 0 0 50px 50px;
  }
}

.form__right .waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.form__right .waves svg {
  position: relative;
  display: inline-block;
  width: calc(100% + 1.3px);
  height: 80vh;
}

@media screen and (max-width: 800px) {
  .form__right .waves svg {
    height: 20vh;
  }
}

.form__right .waves__shape-fill {
  fill: #2a7481b2;
}

.form__right-img {
  width: 18rem;
  height: 15rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .form__right-img {
    width: 15rem;
    height: 12rem;
  }
}

.form__right-learn {
  text-align: center;
}

.form__right-learn ul {
  display: flex;
  justify-content: space-around;
}

.form__right-learn ul li {
  padding: .8rem;
  list-style: none;
  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  .form__right-learn ul li {
    font-size: .8rem;
  }
}

.form__right-learn ul .red {
  border-bottom: rgba(255, 0, 0, 0.671) 4px solid;
  border-radius: 20%;
}

.form__right-learn ul .blue {
  border-bottom: rgba(3, 64, 196, 0.671) 4px solid;
  border-radius: 20%;
}

.form__right-learn ul .azul {
  border-bottom: rgba(3, 174, 196, 0.671) 4px solid;
  border-radius: 20%;
}

.form__right-learn ul .yellow {
  border-bottom: rgba(176, 196, 3, 0.671) 4px solid;
  border-radius: 20%;
}
/*# sourceMappingURL=main.css.map */