*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.m-b{
margin-bottom: 1rem;
}
body{
font-size: 62.5%;
font-family: 'MuseoModerno', cursive;
background: rgba(236, 236, 236, 0.822);

}


.showcase{
  width: 100%;
  
  padding: 6rem;
  @media screen and (max-width:900px){
   padding: 1rem;
    
    
  }
 
}

.heading-primary{
  font-family: 'Press Start 2P', cursive;
  line-height: 30px;
  font-size: .8rem;
}
.heading-tertiary{
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
 font-size: .4rem;
 &-right{
   font-size: 2rem;
   @media screen and (max-width:500px){
    font-size: 1.2rem;
      
    }
 }
}


.form{
  display: flex;

  border-radius:20px 50px 50px;
  
 

 @media screen and (max-width:900px){
   display: flex;
   flex-direction: column;
   margin: 1rem;
 }

 //////Button  
 .button{
  margin-top: 1rem;
 
 .btn{
   
   color: #000000ce ;
   border: 2px solid rgb(248, 248, 248);
   border-top: none;
   border-radius:  3rem  3rem ;
   cursor: pointer;
   
   font-family: inherit;
   box-shadow:-3px 4px 11px 0px #8d9292af;
   transition: 1.2s all;
   
 
 }

 .hbtn {
   font-family: 'Press Start 2P', cursive;
   font-size: .5rem;
   position: relative;
   box-sizing: border-box;
   display: inline-block;
   overflow: hidden;
   padding: 8px 20px;
   margin: 0px 3px 6px;
   text-align: center;
   border: 2px solid rgb(0, 0, 0);
   text-decoration: none;
   color: rgb(19, 18, 18);
   white-space: nowrap;
   z-index: 0;
 } 
 
 
 .hbtn i {
   padding-right: 8px;
 } 
 
 
 .hb-border-bottom-br4 {
   position: relative;
   transition-duration: 0.3s;
   overflow: visible;
   box-sizing: border-box;
   border: none;
   padding: 10px 22px;
 } 
 
 
 .hb-border-bottom-br4::after {
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   height: 100%;
   content: "";
   border: 5px solid rgb(13, 146, 170);
   z-index: 2;
   margin: 0px;
   left: 0px;
   bottom: 0px;
   border-top-width: 2px;
   border-radius: 3rem;
   transition: border-top-width 0.1s ease 0.2s, 
   height 0.2s ease 0.1s, width 0.2s ease 0s, 
   margin 0.2s ease 0s,
    border-bottom-width 0.2s ease 0s;
 } 
 
 
 .hb-border-bottom-br4:hover::after {
   width: 60%;
   height: 0px;
   border-width: 0px 2px 4px;
   margin: 0px 20%;
   transition: border-top-width 0.1s ease 0s, 
   height 0.2s ease 0.1s, 
   width 0.2s ease 0.2s,
    margin 0.2s ease 0.2s,
   border-bottom-width 0.2s ease 0.2s;
 } 
 
 }

  &__left{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
   
    background: #62e9d2;  
    background: -webkit-linear-gradient(to right, #62e9d2, #2BC0E4);
    background: linear-gradient(to right, #62e9d2, #2BC0E4); 
    border-radius:20px 0 0 50px;
    box-shadow:-3px 4px 11px 0px #18ececaf;
    @media screen and (max-width:900px){
     border-radius: 0;
      
    }
///form
form{
  text-align: center;
  display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
  

  input{
  
  display:table-cell;
  width: 70%;
  padding: .5rem;
  border: none;
  border-radius: 2rem;
  box-shadow:-3px 4px 11px 0px #70c9c9af;
  //background-color: rgba(0, 0, 0, 0.466);//
  border-bottom:4px solid white;
  transition: .9s;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  font-size: .7rem;
  text-align: center;

  &:checked,
  &:focus{
   outline: none;
  
   border-bottom: 4px solid chartreuse;
  }

  &:focus:invalid{
    border-bottom: 4px solid red;
  }
  
  }


  h1,h2,label{
    padding: 1rem;
  }
  label{
    font-size: .8rem;
  }
  
}
   //COMPANY LOGO

    .industry{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      font-size: .5rem;
      font-weight: bold;
      
     &__logo{
      width: 2.5rem;
      height: 2.5rem;
      margin: 1rem 0 0 0;

      @media screen and (max-width:900px){
       width: 1.5rem;
       height: 1.5rem;
         
       }
    }
    }
    
  }
  &__right{
    background: #a1a099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #c9c8c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #bdbcb8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    border-radius:0 0 50px;
    box-shadow:2px 5px 8px 0px#bdbcb8;
    align-items: center; 
    @media screen and (max-width:800px){
      border-radius: 0 0 50px 50px;
      
    }

 //WAVES
.waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
 & svg {
  position: relative;
  display: inline-block;
  width: calc(100% + 1.3px);
  height: 80vh;

  @media screen and (max-width:800px){
    height: 20vh;
    
  }
  }
 &__shape-fill {
  fill:  #2a7481b2;
 }
}

  
   
    &-img{
     
      width: 18rem;
      height: 15rem;
      margin-bottom: 1rem;

      @media screen and (max-width:900px){
        width: 15rem;
        height: 12rem;
       
       
        
        
      }
      
    }

    &-learn{
      text-align: center;
    ul{
      display: flex;
      justify-content: space-around;
      li{
        padding: .8rem;
        list-style: none;
        font-size: 1rem;

        @media screen and (max-width:500px){
          font-size: .8rem;   
          }
      }
      .red{
        border-bottom: rgba(255, 0, 0, 0.671) 4px solid;
        border-radius: 20%;
      }
      .blue{
        border-bottom: rgba(3, 64, 196, 0.671) 4px solid;
        border-radius: 20%;
      }
      .azul{
        border-bottom: rgba(3, 174, 196, 0.671) 4px solid;
        border-radius: 20%;
      }
      .yellow{
        border-bottom: rgba(176, 196, 3, 0.671) 4px solid;
        border-radius: 20%;
      }
      
    }
      
    }
    
  }
}













